{% extends 'base.html' %}

{% load static  %}

{% block content %}

        <div class="container">
          <div class="page-inner">
            <div class="page-header d-flex justify-content-between">
              <h3 class="fw-bold mb-3">Order Details</h3>
              <button class="btn btn-danger btn-round ms-auto" onclick="window.location.href='../commission.html'">
                Back
            </button>
            <a href="{% url 'commission_details' %}" class="btn btn-danger btn-round ms-auto text-white" style="text-decoration: none;">
              Back
          </a>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="row ">
                <h4 class="card-title mt-3 pb-3">Customer Details</h4>
                  <div class="col-md-6">
                    <p>Commission ID: COM0001234</p>
                    <p>Vendor ID: VEN000125</p>
                    <p>Vendor Name: VEN000125</p>
                  </div>
                  <div class="col-md-6">
                    <p>Rate: 0.15</p>
                    <p>Payout Amount: 20</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>

{% endblock %}

