{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Add Product</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title">Edit Product</h4>

                        <a href="{% url 'product-list' %}" class="btn btn-danger btn-round ms-auto text-white" style="text-decoration: none;">
                            Back
                        </a>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="row">
                                <!-- Left Column -->
                                <div class="col-md-6 ">
                                    <!-- Product Details -->

                                    <div class="form-group form-inline">
                                        <label for="inlineinput" class="col-md-3 col-form-label">Product Description</label>
                                        <div class="p-0">
                                            <input
                                            type="text"
                                            class="form-control input-full"
                                            id="description"
                                            name="description" 
                                            placeholder="Enter description"
                                            value="{{ product_form.description.value|default:'' }}"
                                        />
                                        {{ product_form.description.errors }}
                                          </div>
                                    </div>

                                    
                                    <div class="form-group form-inline">
                                        <label for="inlineinput" class="col-md-3 col-form-label">Product Stock Level</label>
                                        <div class="p-0">
                                            <input
                                            type="number"
                                            class="form-control input-full"
                                            id="stock_level"
                                            name="stock_level" 
                                            placeholder="Enter stock_level"
                                            value="{{ product_form.stock_level.value|default:'' }}"
                                        />
                                        {{ product_form.stock_level.errors }}
                                          </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="inlineinput" class="col-md-3 col-form-label">Product Price</label>
                                        <div class="p-0">
                                            <input
                                            type="number"
                                            class="form-control input-full"
                                            id="price"
                                            name="price" 
                                            placeholder="Enter price"
                                            value="{{ product_form.price.value|default:'' }}"
                                        />
                                        {{ product_form.price.errors }}
                                          </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="inlineinput" class="col-md-3 col-form-label">Pruchase Price</label>
                                        <div class="p-0">
                                            <input
                                            type="number"
                                            class="form-control input-full"
                                            id="purchased_price"
                                            name="purchased_price" 
                                            placeholder="Enter purchased_price"
                                            value="{{ product_form.purchased_price.value|default:'' }}"
                                        />
                                        {{ product_form.purchased_price.errors }}
                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Upload Product Image</label>
                                        <div class="p-0">
                                            <input
                                                type="file"
                                                class="form-control input-full"
                                                id="image"
                                                name="image" 
                                            />
                                            {{ product_form.image.errors }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Right Column -->
                                <div class="col-md-6">
                                    <div class="form-group form-inline">
                                        <label for="inlineinput" class="col-md-3 col-form-label">Product Name</label>
                                        <div class="p-0">
                                            <input
                                            type="text"
                                            class="form-control input-full"
                                            id="name"
                                            name="name" 
                                            placeholder="Enter name"
                                            value="{{ product_form.name.value|default:'' }}"
                                        />
                                        {{ product_form.name.errors }}
                                          </div>
                                    </div>


                                    <div class="form-group form-inline">
                                        <div class="ms-1">
                                            <div class="p-0">
                                                <label for="brand" class="col-form-label">Product Brand:</label>
                                                <select 
                                                    class="form-control input-full" 
                                                    id="brand" 
                                                    name="brand"
                                                >
                                                    <option value="">Select a Brand</option>
                                                    {% for brand in product_form.brand.field.queryset %}
                                                        <option value="{{ brand.id }}" {% if brand.id == product_form.brand.value %}selected{% endif %}>
                                                            {{ brand.brand_name }}  <!-- Corrected this line -->
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {{ product_form.brand.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <div class="ms-1">
                                            <div class="p-0">
                                                <label for="product_type" class="col-form-label">Product Type:</label>
                                                <select 
                                                    class="form-control input-full" 
                                                    id="product_type" 
                                                    name="product_type"
                                                >
                                                    <option value="">Select a Product Type</option>
                                                    {% for product_type in product_form.product_type.field.queryset %}
                                                        <option value="{{ product_type.id }}" {% if product_type.id == product_form.product_type.value %}selected{% endif %}>
                                                            {{ product_type.product_type_name }}  <!-- Corrected this line -->
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {{ product_form.product_type.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <div class="ms-1">
                                            <div class="p-0">
                                                <label for="category" class="col-form-label">Product Category:</label>
                                                <select 
                                                    class="form-control input-full" 
                                                    id="category" 
                                                    name="category"
                                                >
                                                    <option value="">Select a Category</option>
                                                    {% for category in product_form.category.field.queryset %}
                                                        <option value="{{ category.id }}" {% if category.id == product_form.category.value %}selected{% endif %}>
                                                            {{ category.category_name }}  <!-- Corrected this line -->
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {{ product_form.category.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <div class="ms-1">
                                            <div class="p-0">
                                                <label for="subcategory" class="col-form-label">Product Sub-Category:</label>
                                                <select 
                                                    class="form-control input-full" 
                                                    id="subcategory" 
                                                    name="subcategory"
                                                >
                                                    <option value="">Select a subcategory</option>
                                                    {% for subcategory in product_form.subcategory.field.queryset %}
                                                        <option value="{{ subcategory.id }}" {% if subcategory.id == product_form.subcategory.value %}selected{% endif %}>
                                                            {{ subcategory.subcategory_name }}  <!-- Corrected this line -->
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {{ product_form.subcategory.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="inlineinput" class="col-md-3 col-form-label">Product SKU</label>
                                        <div class="p-0">
                                            <input
                                            type="number"
                                            class="form-control input-full"
                                            id="sku"
                                            name="sku" 
                                            placeholder="Enter sku"
                                            value="{{ product_form.sku.value|default:'' }}"
                                        />
                                        {{ product_form.sku.errors }}
                                          </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Product Variants Section -->
                                    <h3>Product Variants</h3>
                                    {{ attribute_formset.management_form }}
                                    <div id="variant-formset">
                                        {% for form in attribute_formset %}
                                        <div class="variant-form-row">
                                            {{ form.as_p }}
                                            <a href="#" class="remove-form">Remove Variant</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button type="button" id="add-variant" class="btn btn-primary">Add Another Variant</button>
                                  </div>
                            
                                <div class="col-md-6">
                                    <!-- Product Images Section -->
                                    <h3>Product Images</h3>
                                      {{ image_formset.management_form }}
                                      <div id="image-formset">
                                          {% for form in image_formset %}
                                          <div class="form-group image-form-row">
                                              {{ form.as_p }}
                                              <a href="#" class="remove-form">Remove Image</a>
                                          </div>
                                          {% endfor %}
                                      </div>
                                      <button type="button" id="add-image" class="btn btn-primary">Add Another Image</button>
                                
                                </div>
                            </div>
                            

                            <!-- Submit Button -->
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <a href="{% url 'product-list' %}" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    // Function to dynamically add new product variant
    document.getElementById('add-variant').addEventListener('click', function(e) {
        e.preventDefault();
        let totalForms = document.querySelector('#id_attributes-TOTAL_FORMS');
        let formCount = parseInt(totalForms.value);
        
        // Clone the first variant form row
        let newForm = document.querySelector('.variant-form-row').cloneNode(true);
    
        // Clear the input fields in the new form row
        newForm.querySelectorAll('input').forEach(function(input) {
            input.value = '';
        });
    
        // Update the names and IDs for the new form
        newForm.innerHTML = newForm.innerHTML.replace(/attributes-\d+-/g, 'attributes-' + formCount + '-');
        totalForms.value = formCount + 1;
    
        document.getElementById('variant-formset').appendChild(newForm);
    });
    
    // Function to remove a product variant form
    document.getElementById('variant-formset').addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-form')) {
            e.preventDefault();
    
            // Find the form row to remove and remove it
            let formRow = e.target.closest('.variant-form-row');
            formRow.remove();
    
            // Decrement the total form count
            let totalForms = document.querySelector('#id_attributes-TOTAL_FORMS');
            totalForms.value = parseInt(totalForms.value) - 1;
        }
    });
    
    // Function to dynamically add new product image
    document.getElementById('add-image').addEventListener('click', function(e) {
        e.preventDefault();
    
        // Get the total number of current forms in the formset
        let totalForms = document.querySelector('#id_images-TOTAL_FORMS');
        let formCount = parseInt(totalForms.value);
    
        // Clone the first image form row
        let newForm = document.querySelector('.image-form-row').cloneNode(true);
    
        // Clear the values of the input fields in the cloned template
        newForm.querySelector('input[type="file"]').value = '';
    
        // Update the 'name' and 'id' attributes of the cloned inputs with the new form number
        newForm.innerHTML = newForm.innerHTML.replace(/images-\d+-/g, 'images-' + formCount + '-');
    
        // Increment the total forms count
        totalForms.value = formCount + 1;
    
        // Append the new form to the formset container
        document.getElementById('image-formset').appendChild(newForm);
    });
    
    // Function to remove a product image form
    document.getElementById('image-formset').addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-form')) {
            e.preventDefault();
    
            // Find the form row to remove and remove it
            let formRow = e.target.closest('.image-form-row');
            formRow.remove();
    
            // Decrement the total form count
            let totalForms = document.querySelector('#id_images-TOTAL_FORMS');
            totalForms.value = parseInt(totalForms.value) - 1;
        }
    });
    </script>
    
    

{% endblock %}
