{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-flex justify-content-between">
      <h3 class="fw-bold mb-3">Product Details</h3>
      <a href="{% url 'product_management' %}" class="btn btn-danger btn-round ms-auto text-white" style="text-decoration: none;">
        Back
      </a>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title mt-3 pb-3">Product Information</h4>
            <p>Product ID: {{ product.product_id }}</p>
            <p>Product Name: {{ product.name }}</p>
            <p>
              Category: 
              {% if product.category.category_name %}  
              {{ product.category.category_name }}
              {% else %}
                 N/A
              {% endif %}
            </p>
            <p>SKU: {{ product.sku }}</p>
            <p>Stock Status: 
              {% if product.in_stock %}In Stock{% else %} Out of Stock{% endif %}
            </p>
            <p>Price: ${{ product.price }}</p>
          </div>
          
          <div class="col-md-6">
            <h4 class="card-title mt-3 pb-3">Additional Details</h4>
            <p>Manufacturer: 
              {% if product.brand.brand_name %}  
              {{ product.brand.brand_name }}
              {% else %}
                 N/A
              {% endif %}
            </p>
            <p>Release Date: {{ product.created_at.date }}</p>
            <div class="form-group">
              <label for="statusSelect">Availability:</label>
              <select class="form-select" id="statusSelect">
                <option {% if product.in_stock %}selected{% endif %}>Available</option>
                <option {% if not product.in_stock %}selected{% endif %}>Out of Stock</option>
                <option>Discontinued</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-header">
          <div class="card-title">Product Specifications</div>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Specification</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
