{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid justify-content-between">
                <a href="{% url 'dashboard' %}" class="navbar-brand">
                    <img
                        src="{% static 'img/kaiadmin/EIT_logo.svg' %}"
                        alt="navbar brand"
                        height="100"
                    />
                </a>
                <a href="{% url 'vendor_register' %}" class="nav-link">Register</a>
            </div>
        </nav>
        <div class="card p-5 text-center">
            <h2>Password Reset Successful</h2>
            <p>Your password has been successfully reset. You can now log in with your new password.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </div>
    </div>
</body>
</html>
