{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card p-3">
                        <div class="page-header d-flex justify-content-between p-1">
                            <h3 class="fw-bold mb-3">Brand List</h3>
                            <a href="{% url 'brand-form' %}" class="btn btn-success btn-round ms-auto text-white" style="text-decoration: none;">
                                Add Brand
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Brand ID</th>
                                            <th>Brand Name</th>
                                            <th>Brand Slug</th>
                                            <th>Brand Image</th>
                                            <th>Actions</th> <!-- Add column for actions (edit, delete) -->
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Brand ID</th>
                                            <th>Brand Name</th>
                                            <th>Brand Slug</th>
                                            <th>Brand Image</th>
                                            <th>Actions</th> <!-- Add column for actions (edit, delete) -->
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for brand in brands %}  <!-- Loop through the 'brands' context data -->
                                        <tr>
                                            <td><a href="{% url 'brand-edit' brand.pk %}" class="text-black">{{ brand.pk }}</a></td>
                                            <td>{{ brand.brand_name }}</td>
                                            <td>{{ brand.brand_slug }}</td>
                                            <td><img src="{{ brand.brand_image.url }}" alt="{{ brand.brand_name }}" width="50"></td> 
                                            <td>
                                                <a href="{% url 'brand-edit' brand.pk %}" class="btn btn-warning">Edit</a>
                                                <form action="{% url 'brand-delete' brand.pk %}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this banner?');">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        // Initialize Datatable
        $("#multi-filter-select").DataTable({
            pageLength: 5,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                        )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                column
                                    .search(val ? "^" + val + "$" : "", true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + "</option>");
                        });
                    });
            },
        });
    });
</script>
{% endblock %}
