{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card p-3">
                        <div class="card-header d-flex justify-content-between">
                            <h4 class=" fw-bold">Add Category</h4>
                            <div>
                            <a href="{% url 'category-list' %}" class="btn btn-secondary btn-round ms-auto text-white" style="text-decoration: none;">
                                Back
                            </a>
                            </div>
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ field }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group form-inline">
                                    <label for="product_type" class="col-form-label">Product Type:</label>
                                    <select 
                                        class="form-control input-full" 
                                        id="product_type" 
                                        name="product_type"
                                    >
                                        <option value="">Select a Product Type</option>
                                        {% for product_type in form.product_type.field.queryset %}
                                            <option value="{{ product_type.id }}" {% if product_type.id == form.product_type.value %}selected{% endif %}>
                                                {{ product_type.product_type_name }}  <!-- Corrected this line -->
                                            </option>
                                        {% endfor %}
                                    </select>
                                    {{ form.product_type.errors }}
                                </div>
                                <div class="mb-3">
                                    <label for="category_name" class="form-label">Category Name</label>
                                    <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Enter category name"                                      
                                    value="{{ form.category_name.value|default:''}}"
                                    required
                                    >
                                    {{ form.category_name.errors }}
                                </div>
                                <div class="mb-3">
                                    <label for="category_slug" class="form-label">Category Slug</label>
                                    <input type="text" class="form-control" id="category_slug" name="category_slug" placeholder="Enter category slug"
                                     value="{{ form.category_slug.value|default:''}}"
                                     required
                                     >
                                     {{ form.category_image.errors }}
                                </div>
                                <div class="mb-3">
                                    <label for="category_image" class="form-label">Category Image</label>
                                    <input type="file" class="form-control" id="category_image" 
                                    name="category_image"
                                    >
                                    {{ form.category_image.errors }}
                                    <small class="form-text text-muted">Upload an image for the category.</small>
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{% url 'category-list' %}" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
