{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">{{ title }}</h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Save</button>
          <a href="{% url 'aboutus_dropdown_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
