{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-flex justify-content-between">
      <h3 class="fw-bold mb-3">Order Details</h3>
      <a href="{% url 'order-list'  %}" class="btn btn-danger btn-round ms-auto text-white" style="text-decoration: none;">
        Back to Orders
      </a>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title mt-3 pb-3">Order Information</h4>
            <p>Order ID: {{ order.order_id }}</p>
            <p>Customer: {{ order.customer_id }}</p>
            <p>Order Date: {{ order.order_date }}</p>
            <p>Status: {{ order.status }}</p>
            <p>Payment Type: {{ order.payment_type }}</p>
            <!-- Form to update the order status -->
            <form method="post" action="{% url 'order-detail' order.order_id %}">
              {% csrf_token %}
              <label for="status">Status:</label>
              {{ form.status }}
              <button type="submit" class="btn btn-primary mt-2">Update Status</button>
            </form>
          </div>
          
          <div class="col-md-6">
            <h4 class="card-title mt-3 pb-3">Shipping Details</h4>
            <p>Address: {{ order.shipping_address }}</p>
            <p>City: {{ order.shipping_city }}</p>
            <p>Postal Code: {{ order.shipping_postal_code }}</p>
            <p>Order Note: {{ order.order_note }}</p>
          </div>
        </div>
        
        <h4 class="card-title mt-3 pb-3">Order Items</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Product Variant</th>
              <th scope="col">Image</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.orderitems.all %}
            <tr>
              <td>
                {% if item.product_variant_id.image %}
                    <img src="{{ item.product_variant_id.image.url }}" alt="Product Image" width="100" height="100" />
                {% else %}
                    No Image
                {% endif %}
              </td>
              <td>{{ item.product_id.name }}</td>
              <td>{{ item.product_variant_id }}</td>
              <td>{{ item.quantity }}</td>
              <td>${{ item.price }}</td>
              <td>${{ item.subtotal }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No items in this order.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h4 class="card-title mt-3 pb-3">Order Discounts</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Coupon Code</th>
              <th scope="col">Discount</th>
            </tr>
          </thead>
          <tbody>
            {% if order.coupon_id %}
            <tr>
              <td>{{ order.coupon_id.coupon_code }}</td>
              <td>{{ order.coupon_id.coupon_discount }}%</td>
            </tr>
            {% else %}
            <tr>
              <td colspan="2">No Discount Applied</td>
            </tr>
            {% endif %}
          </tbody>
        </table>

        <h4 class="card-title mt-3 pb-3">Total Amount</h4>
        <p><strong>Total:</strong> ${{ order.total_amount }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
